# xcode noise
build/*
*.pbxuser
*.mode1v3
xcuserdata
*libboost_filesystem-mt.dylib
*libboost_serialization-mt.dylib
*libboost_system-mt.a
*libboost_system-mt.dylib

# auto git version noise
InfoPlist.h

# old skool
.svn

# osx noise
.DS_Store
profile

# artifacts
obj/
bin/

#################  
## Code::Blocks  
#################  

*.depend  
*.layout

# VS
.vs/
DD1.VC.VC.opendb
DD1.VC.db
DD1.sln
DD1.vcxproj
DD1.vcxproj.filters
Debug/
DungeonDragonFirstBuild.VC.db
DungeonDragonFirstBuild.sln
DungeonDragonFirstBuild.vcxproj
DungeonDragonFirstBuild.vcxproj.filters


